phone_numbers.csv
run.log
extracted_image.jpg
__init__.py
__pycache__
error.log
src/__pycache__/*.pyc

*.pyc
src/__pycache__/__init__.cpython-311.pyc
src/__pycache__/decoder.cpython-311.pyc
src/__pycache__/image_handler.cpython-311.pyc
src/__pycache__/importer.cpython-311.pyc
src/__pycache__/logger.cpython-311.pyc
