certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
geographiclib==2.0
geopy==2.3.0
idna==3.4
iniconfig==2.0.0
packaging==23.1
Pillow==9.5.0
pluggy==1.0.0
pytest==7.3.1
requests==2.31.0
urllib3==1.26.15
