aiohttp
aiosignal
amqp
annotated-types
anyio
appdirs
asgiref
asn1crypto
async-timeout
attrs
autobahn
Automat
beautifulsoup4
billiard
blis
bs4
cachetools
catalogue
celery
certifi
cffi
channels
channels-redis
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
confection
constantly
coreapi
coreschema
cron-descriptor
cryptography
cssselect
cymem
daphne
decorator
distro
Django
django-celery-beat
django-environ
django-rest-swagger
django-restframework
django-timezone-field
djangorestframework
dnspython
docutils
drf-yasg
filelock
flower
frozenlist
fsspec
google-api-core
google-auth
google-cloud-bigquery
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
humanize
hyperlink
idna
importlib-metadata
incremental
inflection
iniconfig
itypes
Jinja2
joblib
josepy
jsonpath-ng
kombu
langcodes
lxml
MarkupSafe
mozilla-django-oidc
msal
msgpack
multidict
murmurhash
natsort
nltk
numpy
openai
openapi-codec
opensearch-py
oracledb
packaging
pathy
pika
platformdirs
pluggy
ply
preshed
prometheus-client
prompt-toolkit
proto-plus
protobuf
psycopg2
psycopg2-binary
pyahocorasick
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
PyJWT
pymongo
pyOpenSSL
pytest
pytest-django
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
readability-lxml
redis
regex
requests
responses
rsa
service-identity
simplejson
six
smart-open
sniffio
snowflake-connector-python
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
statistics.5
textblob
thinc
tika
tiktoken
tokenizers
tomlkit
tornado
tqdm
Twistedrc1
txaio
typer
types-PyYAML.11
typing_extensions
tzdata
uritemplate
urllib3
vine
wasabi
wcwidth
weasel
whitenoise
xmltodict
yarl
zipp
zope.interface
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
